/* your custom css goes here */
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.intro{
    display: flex;
    color: white;
    height: 100vh;
    background: url('../Assets/images/logo.PNG');
    background-size: cover;
}