body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.intro{
    color:white;
    background-size:55vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/Assets/images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
    background-size:cover;
    height: 58vh;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/Assets/images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.masthead-heading,
.masthead-intro,
.content-footer {
    text-align: center;
}

/* Footer Styling */

.footer-container>p {
    color: white;
}

.content-footer {
    padding: 2em 0;
    background: #212529;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #B69760;
}

a:hover {
    color: #B69760;
}

a:visited {
    color: #B69760;
}

/*Type Selectors*/
body {
	font-family:  sans-serif;
	background-color: #F8F7F7;
}

.image1 {
    width: 75%;
    margin-left: 80px;
    height: 110%;
}

h5 {
	font-family: 'Vollkorn SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-bottom: dotted 2px black;
	display: inline-block;
	margin: 100px 0 50px;
}

#about-me-box {
    margin: 25px 0;
    background-color:black;
    color:white;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0 20px 0 0;
}

.about-text {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

.services-section {
    background-image: url(/Assets/images/bg.jpg);
    background-size: cover;
    padding: 60px 0;
    
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.border {
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon {
    background: #82ccdd;
    color:red;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 14px;
}

@media screen and (max-width:960px) {
    .service-box {
        max-width: 45%;
    }
}

@media screen and (max-width:768px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box {
        max-width: 100%;
    }
}

/*Dark Footer*/

.copyright {
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a {
    font-size: 16px;
    color: #48dbfb;
    font-weight: 500;
}

.sm a {
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: #48dbfb;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: white;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.contact-info .item {
    width: calc(33% - 20px);
    height: 160px;
    background-color: #353b48;
    color: orangered;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
}

.contact-info i {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item:hover {
    background-color: #48dbfb;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #353b48;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #fff;
}

.contact-form .btn {
    width: 180px;
    background-color: transparent;
    color: #48dbfb;
    font-size: 16px;
    border: 2px solid #48dbfb;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
}

.contact-form .btn:hover {
    background-color: #48dbfb;
    color: #fff;
}

.nameZone,
.emailZone {
    max-width: calc(50% - 10px);
}

.messageZone {
    min-height: 200px;
    resize: vertical;
}


.map-container-section {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-section iframe {
    left: 0;
    top: 0;
    height: 70%;
    width: 70%;
    position: absolute;
}









#main-body-content {
    margin-top: 100px;
}