body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.intro{
    display: flex;
    color:white;
    background-size:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/Assets/images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
    background-size:cover;

}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 45ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


body {
    /* Typography Declaration */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-heading,
.masthead-intro,
.content-footer {
    text-align: center;
}





/* Footer Styling */

.fa-stack fa-lg {
    display: inline-block;
}

.footer-container>p {
    color: white;
}

.content-footer {
    padding: 2em 0;
    margin-top: 3em;
    background: #2b3840;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #B69760;
}

a:hover {
    color: #B69760;
}

a:visited {
    color: #B69760;
}

@media only screen and (max-width: 571px) {
    .masthead {
        padding: 5em 0;
    }

    .masthead-intro {
        font-size: 3em;
    }

    .masthead-heading {
        font-size: .5em;
    }

    .container {
        padding: 0 3em;
    }

    .footer-container {
        padding: 0 3em;
    }
}

/*Type Selectors*/
body {
	font-family:  sans-serif;
	background-color: #F8F7F7;
}

img {
	width: 95%;	
}
h5 {
	font-family: 'Vollkorn SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-bottom: dotted 2px black;
	display: inline-block;
	margin: 100px 0 50px;
}

#about-me-box {
    margin: 50px 0;
    background-color:black;
    color:white;
    display: block;
    padding: 0 10px 0 0;
}

