<!-- 
    File name: projects.ejs
    Created By: Aakash
    Student ID: 301134994
    Created On: 04 June, 2021
-->

<!-- ejs file for about page body content -->
<div id="about-me-box">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<img class="max-width-xs image1" src="/Assets/images/PicsArt_02-22-04.55.27 (1).jpg" />
		</div><!-- end col-md-7 -->
		<div class="col-md-6 col-xs-12">
			<div class="text-center .about-text">
				<h5>About Me</h5>
			</div>
			<p style="margin-top: 0;margin-bottom: 6rem;">“Success is not the key to happiness. Happiness is the key to
				success. If you love what you are doing, you will be successful.” The practice of this aphorism made me
				diligent besides developing my love for work. I have always personally believed in the importance of
				setting a goal, focusing on it, and achieving it. My name is Aakash Sharma, a tech-enthusiastic person
				whose life basically surrounds computers. Born and brought up in Delhi, India. In my under-graduation, I
				have studied various subjects such as digital Circuits, analog electronics, database management systems
				to programming languages like C, C++, Unix, Java. I have completed three major projects during
				Bachelors:
				Street Light Glow On Detecting Vehicle Movement, GSM Based Home Automation System, and a software
				inventory system for medical purposes using Java language. My passion brought me a great opportunity to
				work as a Software Engineer with India’s leading MNCs, I started working with Ericsson global Pvt Ltd.
				And then I worked with some Indian start-ups and CMMI level 3 company where I was involved in many major
				backend Programmings such as C#, Asp.Net, Java as well as on frontend programming like HTML,
				JavaScript, JQuery. </p>
		</div><!-- end col-md-5-->

		<div class="row">
			<div class="col-md-12">
				<a href="https://centennialcollegeedu-my.sharepoint.com/:w:/g/personal/a563_my_centennialcollege_ca/Eb-919CAC11Po1oigE_stBgBsLDhjz5PWlsHHuFya3q9tg?e=aPKds0" target="_blank">
					<button class="btn btn-block btn-primary btn-default waves-effect"
						style="float: right; margin-right: 20%;">
						<i class="fas fa-file-download"></i> &nbsp Download CV
					</button>
				</a>
			</div>
		</div>
		<!--end row for resume -->

	</div>
	<!--end row -->
</div><!-- end about-me-box -->