

<div class="container">
<div class="card border-0 shadow my-5">
<div class="card-body p-5">
<div class="row intro wrapper" id="main-body-content">
    <div class="col-12"><h3> Hello Welcome to my website! I am
      <span
      class="txt-rotate"
      data-period="2000"
      data-rotate='[ "Aakash.", "a developer.", "a content writer."]'>
      </span>
    </h3>
</div>

</div>
</div>
</div>
</div>