

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

    <div class="row" id="main-body-content">
                <!-- <div class="col-12"><h3> Welcome! I am Jashan Preet </h3></div> -->
                <div class="col-12"><h3> Welcome! I am
                    <span
                       class="txt-rotate"
                       data-period="2000"
                       data-rotate='[ "Jashan Preet.", "a developer.", "a creator.", "an Entrepreneur." ]'></span> </h3></div>
            </div>
      <div class="wrapper intro">
    <div class="typing-demo">
      <h1>Hello Welcome to my website</h1>
       my name is Aakash.
    </div>
</div>
    </div>
  </div>
</div>