  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <div class="intro">
          <div class="row mt-5">
            <h3> Hello Welcome to my website! I am
              <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='[ "Aakash.", "a developer.", "a content writer."]'>
              </span>
          </h3>
          </div>                  
          <div class="row mt-3">
                <div class="col-12"><h4>AI FT @ Centennial <br> Ex. SDE @ Chai Point <br> Mentor MIT Covid Challenge <br> New Ventures Leadership at MIT <br> MIT-Trained in Innovation & Entrepreneurship</small></h4></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="lead text-justify">Clarity of vision is what makes me dare to challenge and keep pushing myself to explore, perform and succeed in goals. I have a dream, a big dream to make a positive impact on the society, and experience long-term transformations in the present system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/about">
                        <button class="btn btn-block btn-default waves-effect btn-dark">
                            <i class="fas fa-address-card"></i> &nbsp Know More About Me
                        </button>
                    </a> 
                </div>
            </div>
            
          
      </div>
    </div>
  </div>
</div>