

<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
    <h1 class="font-weight-light">Hello Welcome to my website</h1>
      <div class="wrapper">
    <div class="typing-demo">
       my name is Aakash.
    </div>
</div>
    </div>
  </div>
</div>