  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <div class="intro">
          <div class="row">
            <h3 style="margin-top: 20px; text-align: center;"> Hello Welcome to my website! I am
              <span style="color:red" class="txt-rotate" data-period="2000"
                data-rotate='[ "Aakash.", "a developer.", "a content writer."]'>
              </span>
            </h3>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <h4 style="color: gold; margin-left: 30%;">Software Engineering Technology FT @ Centennial <br> Ex.Software developer @
                ARCS Corp <br> Ex.Microsoft Consultant @ TI Infotech</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-justify">Future Goal: I have always been an avid learner, and look forward to using my
                technical and analytical skills to a range of applications in technical modeling. I believe that my
                computational skills, along with my knowledge of programming, have given me an excellent relevant
                background. I look forward to using this degree to obtain a position in a corporation.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="/about">
                <button class="btn btn-block btn-default waves-effect btn-danger" style="margin-left: 43%;">
                  <i class="fab fa-readme"></i> &nbsp Read more
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>