<div class="container">
  <h1 class="project-section-title">Projects</h1>
  <div class="row mb-5">
    <div class="col-lg-3">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/preemploy.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pre-employ</h4>
          <p class="card-text">Pre-employ supports the employment screening needs of thousands of organizations
            performing tens of thousands of operations daily. In this project I worked as a software developer for ARCS
            organization, and did backend programming on .net framework.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="/Assets/images/emr.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Tailor Made Health - EMR </h4>
          <p class="card-text">EMR is a health related project, in this project patient can schedule appointment and
            track health’s record. EMR medications are designed to complement existing therapies but, more often,
            provide a more suitable alternative to standard prescription and over-the-counter medicines. In this project
            practice/doctor track full detail about patient like details, appointment, medicine record, medical history
            etc.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/map.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Jambo Travel</h4>
          <p class="card-text">Jambo Travel is an online travel portal to book flight ticket. It provides the kind of
            efficient, cost-effective travel solutions that are essential in today's Travel Industry.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/map.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Gomosafer</h4>
          <p class="card-text">GoMosafer is an online division of Mosafer Travel, the neophyte travel agency in Qatar
            launched in the third quarter of year 2010. Mosafer; the word comes from “traveller" in Arabic, Turkish,
            Farsi, and several Indian and Urdu languages. By combining aggressively negotiated airfares and global
            resource of Hotel rates with cutting edge technology, GoMosafer provides the kind of efficient,
            cost-effective travel solutions that are essential in today's Travel Industry. We excel at helping you to
            get your customised travel solutions and various other holiday packages from Qatar.</p>
        </div>
      </div>
    </div>
  </div>
</div>