<div class="container">
  <h1 class="project-section-title">Projects</h1>
  <div class="row mb-5">
    <div class="col-lg-4">
      <div class="card">
        <img src="/Assets/images/preemploy.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pre-employ</h4>
          <p class="card-text">Pre-employ supports the employment screening needs of thousands of organizations
            performing tens of thousands of operations daily. In this project I worked as a software developer for ARCS
            organization, and did backend programming on .net framework for various.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="/Assets/images/emr.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Tailor Made Health - EMR </h4>
          <p class="card-text">EMR medications are designed to complement existing therapies but, more often,
            provide a more suitable alternative to standard prescription and over-the-counter medicines. In this project
            I worked as a software developer for ARCS organization, and did backend programming on .net framework for
            prescription section.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/gomosafer.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Gomosafer</h4>
          <p class="card-text">GoMosafer is an online division of Mosafer Travel that provides the kind of efficient,
            cost-effective travel solutions that are essential in today's Travel Industry. In this project
            I worked as a jr. software developer for Ganit softech organization, and did integration of the web APIs for
            flight booking system.</p>
        </div>
      </div>
    </div>
  </div>
</div>