<div class="container mb-5">
  <h1 class="section-title">Projects</h1>
  <div class="row mb-5">
    <div class="col-lg-3">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/map.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/map.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Pre-employ</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <img src="/Assets/images/map.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Tailor Made Health - EMR </h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style=" width: 18rem;">
        <img src="/Assets/images/map.jpg" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>