<div class="row">
  <div class="col-lg-4 col-9">

    <div class="card " style=" height:22rem;">
      <img class="card-img-top" height="250px" src="/Assets/images/map.jpg" alt="Card img">
      <div class="card-body text-center">
        <h4 class="card-title">Pong game</h4>
        <p class="card-text">Designed a Pong game using Python language in PyCharm IDE.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-9">

    <div class="card " style=" height:22rem;">
      <img class="card-img-top" height="250px" src="/Assets/images/map.jpg" alt="Card img">
      <div class="card-body text-center">
        <h4 class="card-title">Pong game</h4>
        <p class="card-text">Designed a Pong game using Python language in PyCharm IDE.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-9">

    <div class="card " style=" height:22rem;">
      <img class="card-img-top" height="250px" src="/Assets/images/map.jpg" alt="Card img">
      <div class="card-body text-center">
        <h4 class="card-title">Pong game</h4>
        <p class="card-text">Designed a Pong game using Python language in PyCharm IDE.</p>
      </div>
    </div>
  </div>



</div>