<div class="row justify-content-lg-center g-3">
    <h1><%= title %> Contact Item</h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Name</span>
            <input type="text" class="form-control" placeholder="Enter contact Name" aria-label="contact Name" aria-describedby="contact Name"
            name="name" value="<%= contact.contactName %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">contact number</span>
            <input type="text" class="form-control" placeholder="Enter contact number" aria-label="contact Brand" aria-describedby="contact Brand"
            name="brand" value="<%= contact.contactNumber %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-name">Email</span>
            <input type="text" class="form-control" placeholder="Enter contact Category" aria-label="contact Category" aria-describedby="contact Category"
            name="category" value="<%= contact.category %>" required>
        </div>

        

            <% if(title == "Edit") { %>
                <button type="submit" id="editButton" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
            <% } else { %>
                <button type="submit" id="addButton" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
            <% } %>  
            
            <a href="/contact-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </form>
</div>