<!--<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4>&copy; Copyright 2021.</h4>
    </div>
  </nav> -->

    <footer class="content-footer">
    <div class="footer-container">
    <p>Say hi to me on these social networks:</p>
    
    <a target="_blank" href="https://github.com/kedarjoyner"><i class="fa fa-github-alt" aria-hidden="true"></i>
    &nbsp;
    <a href="https://twitter.com/kedmasterk"><i class="fa fa-twitter fa-inverse fa-2x"></i></a>
    &nbsp;
    <a href="https://instagram.com/kedarjoyner/"><i class="fa fa-instagram fa-inverse fa-2x"></i></a>
    
    <p>Cover Image via <a href="http://www.kedarjoyner.com">Kedar Joyner Photography</a></p>
</div>
  </footer>