  <footer>
<div class="inner-width">
  <div class="copyright">
    <p style="color: aliceblue;">&copy; 2021 | Created & Designed By <a href="/about">Aakash Sharma</a><p>
  </div>
  <div class="sm">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-linkedin-in"></a>
    <a href="#" class="fab fa-youtube"></a>
  </div>
</div>
</footer>